<p id="notice"><%= notice %></p>

<p>
  <strong>Hold date:</strong>
  <%= @speech.hold_date %>
</p>

<p>
  <strong>Presenter1:</strong>
  <%= @speech.presenter1 %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @speech.theme1 %>
</p>

<p>
  <strong>Total Score:</strong>
  <%= @presenter1_score %>
</p>

<p>
  <strong>Comments:</strong><br />
  <% @presenter1_comments.each do | presenter1_comment | %>
    <%= presenter1_comment.comment %>
    <br />
  <% end %>
</p>

<p>
  <strong>Presenter2:</strong>
  <%= @speech.presenter2 %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @speech.theme2 %>
</p>

<p>
  <strong>Total Score:</strong>
  <%= @presenter2_score %>
</p>

<p>
  <strong>Comments:</strong><br />
  <% @presenter2_comments.each do | presenter2_comment | %>
    <%= presenter2_comment.comment %>
    <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_speech_path(@speech) %> |
<%= link_to 'Back', speeches_path %>
