<%= form_for(:vote, url: votes_path) do |f| %>
  <div class="field">
    <%= f.label :hold_date %><br>
    <%= @hold_date %>
  </div>

  <div class="field">
    <%= f.label :presenter %><br>
    <%= f.label @speech.presenter1 %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score1, min: 1, max: 3 %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment1 %>
  </div>

  <div class="field">
    <%= f.label :presenter %><br>
    <%= f.label @speech.presenter2 %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score2, min: 1, max: 3 %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment2 %>
  </div>

  <%= f.submit "投票", class: "btn btn-primary" %>
<% end %>
